body {
    margin: 10;
    background-color: rgb(0, 0, 0);
}
h1{
    color: rgba(17, 45, 18);
}
p {
    color: rgb(204, 149, 60);             
}
a {
    text-decoration: bold;
    color: rgb(82, 93, 209)
}